<html>

<head>
	<title>Captionator</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<link rel="stylesheet" href="static/style.css">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
		integrity="sha384-zPyKgmxp0wbsi0skzvBWP1N9dhgYDj2nCzSHfu6GgZjKt1nBbqn/KdEJ8l+1rxId" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function () {
			$("#image-upload").change(function () {
				readURL(this);
			});
		});

		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#image-preview').attr('src', e.target.result);
					$('#image-caption-malayalam').text('ചിത്രത്തിന്റെ വിവരണം');
					$('#image-caption-english').text('Caption of the image');
					$('#image-hashtags').text('#nature #landscape #photography #nature #landscape #photography #nature #landscape #photography');

					// Send image file to server API
					var form_data = new FormData();
					form_data.append('image', input.files[0]);
					$.ajax({
						url: '/upload_image/',
						type: 'POST',
						data: form_data,
						contentType: false,
						cache: false,
						processData: false,
						success: function (data) {
							$('#image-caption-malayalam').text(data.malayalam);
							$('#image-caption-english').text(data.english);
							$('#image-hashtags').text(data.hashtags);
						}
					});
				}

				reader.readAsDataURL(input.files[0]);
			}
		}
	</script>
</head>

<body>
	<div class="wrap-head">

		<header class="header-container teal">
			<!-- <img class="gif-image" src="https://media.giphy.com/media/i2tUkY5YrfN85y1W0P/giphy.gif"> -->
			<h1 class="header-text">&lt;!Captionator&gt;</h1>
		</header>
	</div>
	<div class="wrapper">
		<div class="container handler">
			<div class="row">
				<div class="col s12">
					<div class="file-field input-field">
						<div class="btn">
							<span>File</span>
							<input type="file" id="image-upload" accept=".png, .jpg, .jpeg">
						</div>
						<div class="file-path-wrapper">
							<input class="file-path validate" type="text" placeholder="Upload an image">
						</div>
					</div>
				</div>
				<div class="col s12">
					<div class="row">
						<div class="col s12 l6">
							<div class="image-container">
								<img id="image-preview" class="responsive-img">
							</div>
						</div>
						<div class="col s12 l5">
							<div class="caption-container">
								<div id="image-caption-malayalam"></div>
								<div id="image-caption-english"></div>
								<div id="image-hashtags"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<br>

		<footer class="page-footer teal">
			<div class="container">
				<div class="row">
					<div class="col s12 m6 l4">
						<h5 class="white-text " style="font-family: 'Monoton', cursive;text-transform: uppercase;">
							&lt;Captionator &sol; &gt;</h5>
						<p class="grey-text text-lighten-4">A caption & #tags generator for your photos</p>
						<ul>
							<li><a class="grey-text text-lighten-3" href="#!"><i class="bi bi-twitter"></i> Twitter</a>
							</li>
							<li><a class="grey-text text-lighten-3" href="#!"><i class="bi bi-meta"></i> Meta</a></li>
							<li><a class="grey-text text-lighten-3" href="#!"><i class="bi bi-instagram"></i>
									Instagram</a></li>
						</ul>
					</div>
					<div class="col s12 m6 l3">
						<h5 class="white-text">Explore</h5>
						<ul>
							<li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">Services</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
						</ul>
					</div>
					<div class="col s12 m12 l3">
						<h5 class="white-text">Contact Us</h5>
						<ul>
							<li><a class="grey-text text-lighten-3" href="#!"><i class="bi bi-telephone-fill"></i> +1
									(555) 123-4567</a></li>
							<li><a class="grey-text text-lighten-3" href="#!"><i class="bi bi-envelope-paper-fill"></i>
									info@captionator.com</a></li>
							<li><a class="grey-text text-lighten-3" href="#!"><i class="bi bi-geo-alt-fill"></i> 123
									Main St, Anytown USA</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</div>

</body>

</html>